@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #52ab98;
  --secondary:#2b6777;
  --tertiary:  #f2f2f2;
  --lightprimary:#b6ece1;
  --quaternary:#c8d8e4;
  --white:#fff;
  --Black:black;
  --Grey:#454545;
  --lightGrey:#AEAEAE;
  --iconColor:#FF6008;
  --inputBg:#F5F5F7;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
