.blogMainHead {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2vh;
}
.homeContainer {
  padding: 2vh 5vw;
}
 
 .swiper{
    margin-left:  0vw;
    margin-right: 5vw;
 }
 .swiper-button{
  cursor: pointer;
 }
.swiper-button-prev:hover,
.swiper-button-next:hover,
.swiper-button-prev:focus,
.swiper-button-next:focus {
  color: var(--primary);
  cursor: pointer;
}
 