 
 .name{
     font-weight: 600;
    color: var(--primary);
    font-family: 'roboto';
 }
 .nav-link{
   display: flex;
   flex-direction: row;
   align-items: flex-end;
 }
 .link{
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
 }
 .hamlink{
    font-size: 16px;
    font-weight: 400;
    color:var(--white)
 }
 .link:hover, .hamlink:hover{
    color: var(--lightprimary);
     
 }
 .link:active, .hamlink:active{
    color:var(--black);
 }
 .searchBox{
    border:2px var(--quaternary) solid;
 }
  
 .searchInput{
     outline: none;
     overflow: hidden;
      text-overflow: ellipsis;
      font-family: 'roboto';
 }
  
 .searchIcon{
    background-color: var(--iconColor);
 }
 .navSecond{
   z-index: 1000;
 }
 .headIcon{
    color: var(--primary);
 }
 .headIcon:hover{
   scale: 1.1;
   color: var(--secondary);
 }
  
 .iconText{
    font-weight: 500;
    color: var(--black);
    text-align: center;
    font-size: 14px;
 }
 .active{
   color:var(--iconColor) !important;
 }
.categoryList{
   background-color: var(--Black);
   z-index: 2;
   padding: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.categoryName{
   color: var(--white);
   font-size: 14px;
   cursor: pointer;
}
.categoryName:hover{
   color: var(--primary);
}
.profile{
   font-size: 35px;
   color: var(--primary);
}
.searchField{
   position: absolute;
   width: 40vw;
   z-index: 5;
   background-color: var(--white);
}
.searchValue{
   padding: 5px 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
}
.searchValue:hover{
background-color: var(--quaternary);
}
