.topDealsCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
 
.cards:hover{
    transform: translateY(-5px);
    transition-duration: 0.3s;
    scale: 1.02;
}
.topDealsCardImg{
    height: 60%;
    object-fit: cover;
}
 .topDealsHead{
color:var(--Black);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: auto;
    text-align: center
 }
 .topDealsDiscount{
    color:var(--primary);
    font-weight: 600;
    font-size: 18px;
    margin-bottom: auto;
    text-align: center
 }
 